<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/css/_remake.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body> 
  {{!-- If logged in --}}
  
  {{!-- Nav bar --}}
    <nav class="flex justify-between items-center p-1 px-5 pt-3 pb-3 bg-white">
      {{!-- Logo --}}
      <div class="flex flex-start items-center space-x-3">
      <a href="/index"><img src="/assets/images/Task Blaster Logo transparent.png" class="h-6"alt="Task Blaster Logo" /></a>

      <a href="/index" class="font-extrabold text-transparent text-3xl bg-clip-text bg-gradient-to-b from-blue-400 to-indigo-600 group transition duration-300">Task Blaster
      <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-blue-400"></span>
      </a>
      
      </div>
      
      
      <div class="flex space-x-10 items-center">
        {{!-- Home and about us text --}}
        {{#if currentUser}}
        <a href="/{{currentUser.details.username}}" class="text-xl font-semibold group text-black transition duration-300">Home
        {{else}}
        <a href="/index" class="text-xl font-semibold group text-black transition duration-300">Home
        {{/if}}
        <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-blue-400"></span>
        </a>

        <a href="/aboutus" class="text-xl font-semibold group text-black transition duration-300">About Us
        <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-blue-400"></span>
        </a>
        {{#if currentUser}}
        {{!-- Logout Button --}}
        <a href="/user/logout" class="bg-black text-white py-1 px-4 shadow-xl rounded">
          Logout
        </a>
        {{else}}
        {{!-- Get Started Button --}}
        <a href="/user/signup" class="bg-blue-400 text-white py-1 px-3 shadow-lg rounded">
          Get Started
        </a>
        {{/if}}
      </div>  
    </nav>
    
  {{!-- 
  {{#if currentUser}}
    <a href="/user/logout">Logout</a>
  {{else}}
    <a class="nav__button" href="/user/signup">Sign up</a>
    &nbsp;
    <a class="nav__button" href="/user/login">Log in</a>
  {{/if}}
   --}}
  
  {{!-- Show errors --}}
  {{#if flashErrors }}
    {{#each flashErrors }}
      <div>{{ this }}</div>
    {{/each}}
  {{/if}}
  {{!-- Show success messages --}}
  {{#if flashSuccesses }}
    {{#each flashSuccesses }}
      <div>{{ this }}</div>
    {{/each}}
  {{/if}}
  {{> yield }}
  {{#if isPageAuthor}}
    {{!-- Prevent loading the Remake framework if the page isn't editable --}}
    <script src="/assets/js/vendor/Sortable.min.js"></script>
    <script src="/assets/js/vendor/crostini.min.js"></script>
    <script src="/remake/js/remake.min.js"></script>
    <script src="/assets/js/remake-init.js"></script>
  {{/if}}
  <script src="/assets/js/main.js"></script>
</body>
</html>